<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Access-Control-Allow-Origin" content="http://192.168.0.117:2222/" />
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
        
        {% block cabecera %}     
        {% endblock cabecera %}
    </head>
    <body>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url home_view %} ">FAUTUNES APP</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="{% url home_view %} ">Home</a></li>
                            <li><a href="{% url petitions_view %}">Users</a></li>
                            <li><a href=" {% url get_peticiones_view %} ">DJ</a></li>
                           <!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li> 
                            -->
                        </ul>
                        <!--<form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="Email">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form>-->
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
{% block contenido %}
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>FAUTUNES APP</h1>
                <p>This is a app for the office's newemage.com.mx that try help to Fabian (The fucking DJ) put music all likes especially "Chacalosas" </p>
                <p><a href="{% url petitions_view %}" class="btn btn-primary btn-large">Request your ROLITA, mother fucker!!</a></p>
            </div>
            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h2>Home</h2>
                    <p>This landing page very beautiful</p>
                    <p><a class="btn" href="#">View details &raquo; NO (no details) </a></p>
                </div>
                <div class="span4">
                    <h2>DJ</h2>
                    <p>This section is for fucking DJ, jaja excuse me, really is for all.</p>
                    <p><a class="btn" href="#">View details &raquo; (no details)</a></p>
               </div>
                <div class="span4">
                    <h2>Users</h2>
                    <p>Just here, we will do petitions tracks of shit at the fucking dj</p>
                    <p><a class="btn" href="#">View details &raquo; really? (no fuckings details!!)</a></p>
                </div>
            </div>

            <hr>

            <footer>
                {% block footer %}<p>&copy; Company 2012</p>{% endblock footer %}
            </footer>
{% endblock contenido %}
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.2.min.js"><\/script>')</script>

        <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>

        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
